<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Welcome :)</title>
</head>
<body>
<h1>Employees</h1>
<form action="addEmployee" method="post">
    <label for="first_name">First name:</label><br/>
    <input type="text" name="firstName"><br>

    <label for="last_name">Last name:</label><br>
    <input type="text" name="lastName"><br>

    <label for="age">Age:</label><br>
    <input type="number" name="age"><br>

    <label for="city">City:</label><br>
    <input type="text" name="city"><br>

    <label for="address">Address:</label><br>
    <input type="text" name="address"><br>

    <label for="job">Job:</label><br>
    <input type="text" name="job"><br>

    <label for="salary">Salary:</label><br>
    <input type="number" name="salary"><br>

    <label for="phone">Phone:</label><br>
    <input type="tel" name="phone"><br>

    <button type="submit">Submit</button>

</form>

<br>


</body>
</html>