<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>List Employees</title>

    <link rel="stylesheet"
          href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"
          integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l"
          crossorigin="anonymous"/>
</head>

<body>

<div class="container">

    <h3>List Employees</h3>

    <hr/>

    <table class="table table-bordered table-striped">

        <thead>
        <tr>
            <th>ID</th>
            <th>First name</th>
            <th>Last name</th>
            <th>Age</th>
            <th>City</th>
            <th>Address</th>
            <th>Job</th>
            <th>Salary</th>
            <th>Phone</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="employee: ${employees}">
            <td th:text="${employee.id}"/>
            <td th:text="${employee.firstName}"/>
            <td th:text="${employee.lastName}"/>
            <td th:text="${employee.age}"/>
            <td th:text="${employee.city}"/>
            <td th:text="${employee.address}"/>
            <td th:text="${employee.job}"/>
            <td th:text="${employee.salary}"/>
            <td th:text="${employee.phone}"/>
        </tr>
        </tbody>

    </table>
</div>


</body>

</html>